
.ind-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22vh;
    
}

.ind-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
    background-color: rgb(21, 21, 21);
    border: 5px double white;
    width: 70%;
    max-width: 1200px;
    padding: 60px;
   
}

.ind-heading{
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    color: rgb(251, 251, 251);
    text-shadow:  3px 2px  rgb(122, 122, 139);

}

.ind-section{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid rgb(114, 109, 109);
  box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  box-sizing: border-box;
  padding: 40px 30px ;
}

.ind-section1{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid rgb(114, 109, 109);
  box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  box-sizing: border-box;
  padding: 40px 30px;
}

.inc-btn{
  display: flex;
  gap: 30px;
}

.ind-row-top{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;       /* Increase & Decrease section ke beech gap */
  width: 100%;
  margin-top: 20px;
}

 .dec-btn{
  display: flex;
  gap: 30px;
} 

.indcount{
    font-size: 3rem;
    color: rgb(190, 253, 179);
    margin-bottom: 10px;   
}



/* .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

.ind-btn {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 160px;
  padding: 20px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
  
.ind-btn:hover {
  outline: 0;
}

.ind-btn {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.ind-btn:hover {
    transform: scale(1.05);
    box-shadow: rgba(106, 104, 107, 0.925) 0 15px 30px -5px;
}

@media (min-width: 768px) {
  .ind-btn {
    font-size: 24px;
    min-width: 196px;
  }
}
