
*{
    margin: 0;
    padding: 0;
}



body {
  /* background: #ffb8dc;
background: linear-gradient(90deg, rgba(255, 184, 220, 1) 0%, rgba(199, 70, 151, 1) 50%, rgba(143, 6, 102, 1) 100%); */


/* background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%); */

background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);

  color: white;
  font-family: "Times New Roman", Times, serif;
  margin-top: 100px;
  min-height: 100vh;
}