.increase-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}

.increase{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding: 80px;
    background-color: rgb(21, 21, 21);
    border: 5px double white;
   
}

.increase-heading{
    font-size: 3rem;
    margin: 10px auto;
  
}

.count{
    font-size: 2rem;
    color: rgb(67, 251, 107);
    margin-bottom: 10px;
}


.count-btn {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 5px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.count-btn:active,
.count-btn:hover {
  outline: 0;
}

.count-btn {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.count-btn:hover {
    transform: scale(1.05);
    box-shadow: rgba(106, 104, 107, 0.925) 0 15px 30px -5px;
}

@media (min-width: 768px) {
  .count-btn {
    font-size: 24px;
    min-width: 196px;
  }
}
