
.calc-container {
  width: 380px;
  margin: 40px auto;
  background: #ffffff;
  padding: 10px 30px;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(209, 254, 255, 0.2);
}

.calc-wrap-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-heading{
    font-size: 3rem;
    margin: 10px 40px;
    color: rgb(11, 136, 136);
}

.display {
  min-height: 10vh;
  background: #e6f9f9;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 32px;
  padding: 15px;
  text-align: right;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  padding: 20px;
  font-size: 22px;
  border-radius: 12px;
  border: none;
  background: #e8f4f4;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #afc1c1;
}

.gray {
  background: #ededed;
}

.gray:hover {
  background: #aea8a8;
}

.teal {
  background: #00c7c7;
  color: white;
}

.teal:hover {
  background: #029595;
}
